@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: Poppins;
    text-align: center;
}
img{
    width: 40%;
    height: 40%;
}
#button{
    text-decoration: none;
    color: white;
    font-family: Poppins;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 5rem;
    background:linear-gradient(90deg, rgba(255,107,51,1) 0%, rgba(255,222,89,1) 100%);
}
#button:hover{
    transform: scale(1.1);
}
#button:active{
    background:rgba(255,107,51,1);
}